@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body {
  background-image: url('../public/food.jpg');
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --main-color: #70a01f;
  --button-bg-hover: rgb(91, 129, 24);
  --text-color: rgb(255, 255, 255);
  --error-text: rgb(180, 18, 18);
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}
button {
  margin-top: 0.5rem;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  border: none;
  color: var(--text-color);
  background-color: var(--main-color);
  cursor: pointer;
  transition: background-color 0.4s;
}
button:hover {
  background-color: var(--button-bg-hover);
}
